@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Regular'), local('PlayfairDisplay-Regular'),
		url('../fonts/PlayfairDisplay-Regular.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

@font-face {
	font-family: 'Playfair Display';
	src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
		url('../fonts/PlayfairDisplay-Bold.woff2') format('woff2'),
		url('../fonts/PlayfairDisplay-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: block;
}

